{% extends 'base.html' %}

{% block page_title %}
<title> Register Page </title>
{% endblock page_title %}


{% block contents %}

<form method="POST">
{% csrf_token %}
<div class="mb-3">
    <label for="{{form.username.name}}">{{form.username.label_tag}}</label>
    <input type="text" class="form-control" name="{{form.username.name}}" autofocus maxlength="254" required id="{{form.username.id_for_label}}" placeholder="Username">
 </div>

 <div class="mb-3">
    <label for="{{form.email.name}}">{{form.email.label_tag}}</label>
    <input type="email" class="form-control" name="{{form.email.name}}" autofocus maxlength="254" required id="{{form.email.id_for_label}}" placeholder="Username">
 </div>
  <div class="mb-3">
    <label for="{{form.password1.name}}">{{form.password1.label_tag}}</label>
    <input type="password" class="form-control" name="{{form.password1.name}}" required id="{{form.password1.id_for_label}}" placeholder="Password">
 </div>
  <div class="mb-3">
    <label for="{{form.password2.name}}">{{form.password2.label_tag}}</label>
    <input type="password" class="form-control" name="{{form.password2.name}}" required id="{{form.password2.id_for_label}}" placeholder="Password">
 </div>

 {{form.errors}}
 <button type="submit" class="btn btn-primary mb-5" value="signup">Daftar</button>
</form>
<p>Have an account?<a href="{% url 'login' %}"> Log in</a></p>

{% endblock contents %}